
<div class="container mt-4">

{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">{{ form_row(form.email) }}</div>
    <div class="col-md-4">{{ form_row(form.password) }}</div>
</div>
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <a class="btn btn-outline-dark" href="{{ path('app_user_index') }}">back to list</a>

</div>
{{ form_end(form) }}